/* HTML5 display-role reset for older browsers */
#side, figure {
	display: block;
}

body {
    font-family: 'Kranky';
    background-image: url(pics/blue_white_stripes.jpg);
    font-weight: bold;
}

#container {
    max-width: 1200px;
    width: auto;
    height: 1500px;
    margin: 0 auto;
    padding: 50px;
}

#image a {
    width: 200px;
    float: left;
    margin: 7px;
    padding: 10px 10px 25px 10px;
    background-color: white;
    z-index: 1;     
    position: relative;
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    transform: rotate(5deg);
    box-shadow: 10px 10px 30px;
    transition: all 1s;
    text-decoration: none;
    text-shadow: 2px 2px 2px;
    font-size: 30px;
    text-align: center;
    color: #012E3F;
}

/* Justerar så att bildens storlek passar länken. */
#image a img {
    width: 100%;
    padding-bottom: 10px;
}

/* Var tredje bild. */
#image a:nth-child(3n) {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

/* Var femte bild. */
#image a:nth-child(5n) {
    -webkit-transform: rotate(15deg) scale(1.2);
    -ms-transform: rotate(15deg) scale(1.2);
    -o-transform: rotate(15deg) scale(1.2);
    -moz-transform: rotate(15deg) scale(1.2);
    transform: rotate(15deg) scale(1.2);
    z-index: 2;
}

/* Muspekare över bild och tabb. */
#image a:hover, #image a:focus {
    -webkit-transform: rotate(0deg) scale(1.8);
    -ms-transform: rotate(0deg) scale(1.8);
    -o-transform: rotate(0deg) scale(1.8);
    -moz-transform: rotate(0deg) scale(1.8);
    transform: rotate(0deg) scale(1.8);
    z-index: 5;
    box-shadow: 20px 20px 60px rgba(0,0,0,0.50);
}

/* Sido text. */
#side {
    float: right;
    height: 400px;
    font-size: 15px;
}

/* Sveriges sju underverk börjar på ny rad. */
#groupTwo {
    float: left;
}

/* Text efter länken (bilden). */
a[title]:after {
    content:attr(title);
}