/* CSS Mall för smartphones, mindre än 481px bredd. */
#container {
    max-width: 480px;
    float: none;
}
/*----------*/
#header {
    width: 100%;
    font-size: 22px;
}

/*----------*/
#content {
    margin: 0;
    padding: 0;
    width: 100%;
    float: right;
}

video {
    width: 100%;
}
/*----------*/
#footer {
    width: 100%;
    font-size: 17px;
    font-style: italic;
}


#nav ul {
    float: none;
    margin-top: -44px;
    margin-left: 0;
    height: 155px;
}

#nav li {
    float: none;
    margin: 0;
}