/* CSS Mall för smartphones, mindre än 481px bredd. */

#container, #content, #footer, #nav {
    width: auto;
    float: none;
}
/*----------*/
#header {
    width: 100%;
    font-size: 22px;
}
/*----------*/
#nav a {
    text-align: center;
    padding-left: 1px;
}

/*----------*/
#content {
    margin: 0;
    border-left: none;
}
/*----------*/
.rightalign {
        text-align: center;
    }
    
video {
    width: 100%;
}

h1, h2 {
    text-align: center;
}
/*----------*/
#social {
    float: none;
    margin: 0;
    text-align: center;
}