
/*
Colors      Turkos
#001821     Text color
#012E3F     Text color
#3891B2     Header-, Footer background
#629CB2     Container background
#94E9D4     Body background
*/


dd {
    background-color: #629CB2;
}

a {
    color: #012E3F;
}

a:focus {
    background-color: black;
    color: white;
}

#container {
    width: 965px;
    background-color: #629CB2;
    margin: 0 auto;
}

#header {
    width: 965px;
    background-color: #3891B2;
    color: #012E3F;
    font-size: 200%;
    text-align: center;
}

#footer {
    width: 965px;
    background-color: #3891B2;
    color: #012E3F;
    text-align: center;
    font-size: 150%;
}

#nav ul{
    float: left;
    width: 140px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu {
    border: 1px solid black;
    border-bottom: none;
    display: block;
}

#menu li {
    border-bottom: 1px solid black;
}


#menu a {
   display: block;
   padding: 10px;
   color: black;
}

#menu a:hover {
   background-color: black;
   color: white;
}

#menu a:focus {
    background-color: black;
    color: white;
}

.active {
    background-color: #3891B2;
    color: black;
}

#content {
    background-color: white;
    margin-left: 144px;
    width: 650px;
    padding: 10px;
    margin-right: auto;
}

#mig {
    float: left;
}

#cloud {
    float: right;
}

.info {
    margin-left: 200px;
}

.section {
    border-top: dashed;
}

.rightalign {
    text-align: right;
}

.rubrik {
    color: #3891B2;
}