
/*
Colors      Turkos
#001821     Text color
#012E3F     Text color
#3891B2     Header-, Footer background
#629CB2     Container background
#84b2c3     Table background
*/

/* Fontstil, bakgrund */
body {
    font-family: Verdana;
    background-image: url(pics/blue_white_stripes.jpg);
}

p {
    line-height: 28px;
}

/* h1 rubrikerna på sidorna förutom headern */
.rubrik {
    color: #3891B2;
}

/* Varannan rad färg */
.alt {
    background-color: #84b2c3;
}

/* Descriptionlist, dd */
dd {
    background-color: #629CB2;
}

/* Färg på länktext */
a {
    color: #012E3F;
}

/* När man tabbar genom länkarna. */
a:focus {
    background-color: black;
    color: white;
}

/* Layout */
#container {
    width: 965px;
    background-color: #629CB2;
    margin: 0 auto;
}
    
/* 1.Top */
#header {
    width: 965px;
    margin-bottom: 50px;
    background-color: #3891B2;
    color: black;
    font-size: 150%;
    text-align: center;
}

/* 2.Bot */
#footer {
    width: 965px;
    background-color: #3891B2;
    color: #012E3F;
    text-align: center;
}
    
/* 3.Menu */
#nav ul {
    float: left;
    list-style-type: none;
    padding: 0;
    margin-top: -44px;
    margin-left: 144px;
    height: 39px;
}

#nav li {
    float: left;
    display: block;
    margin: 0;
}

    #nav a {
       display: block;
       padding: 10px;
       color: black;
       text-decoration: none;
       padding-left: 30px;
    }
    
    #nav a:hover {
       background-color: black;
       color: white;
    }
    
    #nav a:focus {
        color: white;
    }
    
    /* Nuvarande sida */
    .active {
        background-color: white;
        color: black;
    }

/* 4.Content */
#content {
    background-color: white;
    margin-left: 144px;
    width: 650px;
    padding: 10px;
    margin-right: auto;
}

    /* Varje inlägg har dashed på toppen */
    .section {
        border-top: dashed;
    }
    
    /* Blogginlägg har en bildikon åt vänster om rubriktexten */
    .post {
        border-top: dashed;
        background-image: url(pics/pen_o.png);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 50px 50px;
    }
    
    /* Behövde flytta rubriken för varje inlägg lite åt höger för att få det att funka (med penn ikonen) */
    .post h2 {
        padding-left: 50px;
    }

/* Bilder */
#mig {
    float: right;
    margin-top: 10px;
}

#cloud {
    float: right;
}

/* Loren ipsum bilden */
#boatcastle {
    float: left;
    padding-right: 10px;
}

/* Tabellen */
table, td, th {
    padding: 5px;
    border: 1px solid #629CB2;
    text-align: center;
}

th tfoot{
    background-color: #629CB2;
}


.rowspan {
    font-size: 1.5em;
    background-color: white;
}

/* Formulären */
form {
    width: 450px;
    margin: 0 auto;
    margin-top: 20px;
}

fieldset {
    background-color: #84b2c3;
    border: 1px solid #629CB2;
    
}

legend {
    background-color: #629CB2;
    font-size: 1.2em;
}

/* Formulär rubrik */
.form {
    color: #3891B2;
    text-align: center;
}

/* Sprites */
#start {

}

#lab {
    
}

#presentation {
    
}

#kontakt {
    
}

#start a:hover {
    
}

#lab a:hover {
    
}

#presentation a:hover {
    
}

#kontakt a:hover {
    
}